body{
    background-color: #3e3e60;
    color:white;
    font-family: 'Roboto Mono', monospace;
}
img{
    padding-left:2em;
}
button{
    margin-top: 1em;
}

.center{
    text-align: center;
    padding-top:2em;
    
}

h1{
    font-size: 4em;
}